<main>
    <section class="content-container">
        <article>
            <h2>Titulo</h2>
            <img src="../../../assets/user.png" alt="default">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti ipsa cupiditate beatae voluptatum fuga voluptate obcaecati ipsam facilis, nemo est, veritatis accusamus incidunt provident quibusdam. Velit dolorem iure quos sint.</p>
        </article>
        <article>
            <h2>Titulo</h2>
            <img src="../../../assets/user.png" alt="default">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti ipsa cupiditate beatae voluptatum fuga voluptate obcaecati ipsam facilis, nemo est, veritatis accusamus incidunt provident quibusdam. Velit dolorem iure quos sint.</p>
        </article>
        <article>
            <h2>Titulo</h2>
            <img src="../../../assets/user.png" alt="default">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti ipsa cupiditate beatae voluptatum fuga voluptate obcaecati ipsam facilis, nemo est, veritatis accusamus incidunt provident quibusdam. Velit dolorem iure quos sint.</p>
        </article>
        <article>
            <h2>Titulo</h2>
            <img src="../../../assets/user.png" alt="default">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti ipsa cupiditate beatae voluptatum fuga voluptate obcaecati ipsam facilis, nemo est, veritatis accusamus incidunt provident quibusdam. Velit dolorem iure quos sint.</p>
        </article>
        <article>
            <h2>Titulo</h2>
            <img src="../../../assets/user.png" alt="default">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti ipsa cupiditate beatae voluptatum fuga voluptate obcaecati ipsam facilis, nemo est, veritatis accusamus incidunt provident quibusdam. Velit dolorem iure quos sint.</p>
        </article>
        <article>
            <h2>Titulo</h2>
            <img src="../../../assets/user.png" alt="default">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti ipsa cupiditate beatae voluptatum fuga voluptate obcaecati ipsam facilis, nemo est, veritatis accusamus incidunt provident quibusdam. Velit dolorem iure quos sint.</p>
        </article>
        <article>
            <h2>Titulo</h2>
            <img src="../../../assets/user.png" alt="default">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti ipsa cupiditate beatae voluptatum fuga voluptate obcaecati ipsam facilis, nemo est, veritatis accusamus incidunt provident quibusdam. Velit dolorem iure quos sint.</p>
        </article>
        <article>
            <h2>Titulo</h2>
            <img src="../../../assets/user.png" alt="default">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti ipsa cupiditate beatae voluptatum fuga voluptate obcaecati ipsam facilis, nemo est, veritatis accusamus incidunt provident quibusdam. Velit dolorem iure quos sint.</p>
        </article>
        <article>
            <h2>Titulo</h2>
            <img src="../../../assets/user.png" alt="default">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti ipsa cupiditate beatae voluptatum fuga voluptate obcaecati ipsam facilis, nemo est, veritatis accusamus incidunt provident quibusdam. Velit dolorem iure quos sint.</p>
        </article>
    </section>
</main>