<section>
    <p>El resultado entre la suma de numero1 + numero2 es: {{resultado}}</p>
    <br>
    <p>Codigo facil, donde solo asigne valores a 2 variables y las sume, donde luego muestro la variable "resultado"
        (Encerrado con doble llave) - Tanto numero1 como numero2 es igual a 6, no use funciones aun</p>
    <br><br>
    <p class="note">La interpolacion de datos solo muestra un contenido... Si queremos modificar un contenido
        interactuando desde la web debemos usar Eventos y Enlaces de datos bidireccionales (ngModel)</p>
</section>