<footer>
    <div class="links-redes">
        <img src="../../../assets/redes/facebook (1).png" alt="facebook"><img src="../../../assets/redes/twitter (1).png" alt="twitter"><img src="../../../assets/redes/instagram (1).png" alt="instagram">
    </div>
    <div class="links-others">
        <ul class="links-others-1">
            <li>link 1</li>
            <li>link 2</li>
            <li>link 3</li>
            <li>link 4</li>
        </ul>
        <ul class="links-others-2">
            <li>link 1</li>
            <li>link 2</li>
            <li>link 3</li>
            <li>link 4</li>
        </ul>
    </div>
    <p>Derechos Reservados 2023</p>
</footer>