@import '../../../styles/variables_globales.less';

header {
    display: flex;
    background-color: @bg-100;
    color: @text-100;
    align-items: center;
    
    img {
        margin-left: 20px;
        height: 120px;
    }

    nav {
        flex: 1;

        .icon-menu {
            display: none;
        }

        .menu {
            list-style: none;
            display: flex;
            justify-content: flex-end;
            margin-right: 20px;

            li {
                border-radius: 10px;
                background-color: @bg-200;
                margin: 3px;
                list-style: none;
                padding: 10px;
                cursor: pointer;

                &:hover {
                    background-color: @primary-100;

                    .submenu {
                        display: block;
                        position: absolute;
                        bottom: -20;

                    }
                }

                .submenu {
                    display: none;
                }

            }
        }
    }
}

@media (max-width: @medium-screen) {

    header {
        img {
            height: 90px;
        }
        nav {
            .icon-menu {
                display: flex;
                flex-direction: column;
                background-color: @bg-200;
                border-radius: 10px;
                padding: 5px;
                cursor: pointer;
                position: absolute;
                top: 25px;
                right: 20px;

                span {
                    height: 3px;
                    width: 30px;
                    margin: 3px;
                    background-color: @text-100;
                }
            }

            .menu {
                display: none;
            }
        }
    }
}