<!-- Si sale error de PowerShell al ejecutar el comando para generar componentes usar en la terminal Set-ExecutionPolicy RemoteSigned -Scope Process -->
<!-- Lo que hace el comando anterior es cambiar la politica de ejecucion temporalmente, volvera a como estaba cuando se cierre sesion -->
<!-- Para crear componentes usar ng g c components/app-header  [Ejemplo] -->
<!-- ng serve para activar server -->
<!-- Para Angular tenemos: - Modificar el archivo styles de proyecto raiz para (*{} la buena practica) -->
                      <!-- - Crear componentes con el comando y con el sig nombre ej: app-header -->
                      <!-- - El maquetado en el app-header.component.html -->
                      <!-- - Los estilos en el app-header.component.less (En este caso less) -->
                      <!-- - Cambiar el nombre del selector (Quitar un app, no afectara en nada) -->
                      <!-- - Los componentes se declaran e importan en el app.module.ts, aunque al usar el comando lo hace automaticamente -->

<app-header />
<div class="main-container">
    <app-sidebar />
    <app-content />
</div>
<app-footer />