<!-- Si sale error de PowerShell al ejecutar el comando para generar componentes usar en la terminal Set-ExecutionPolicy RemoteSigned -Scope Process -->
<!-- Lo que hace el comando anterior es cambiar la politica de ejecucion temporalmente, volvera a como estaba cuando se cierre sesion -->
<!-- Para crear componentes usar ng g c components/app-header  [Ejemplo] -->
<!-- ng serve para activar server -->
<!-- Para Angular tenemos: - Modificar el archivo styles de proyecto raiz para (*{} la buena practica) -->
                      <!-- - Crear componentes con el comando y con el sig nombre ej: app-header -->
                      <!-- - El maquetado en el app-header.component.html -->
                      <!-- - Los estilos en el app-header.component.less (En este caso less) -->
                      <!-- - Cambiar el nombre del selector (Quitar un app, no afectara en nada) -->
                      <!-- - Los componentes se declaran e importan en el app.module.ts, aunque al usar el comando lo hace automaticamente -->

<app-header />
<div class="main-container">
    <div class="sidebar">
        <app-sidebar />
    </div>
    <div class="content">
        <router-outlet /><br>
        <p>Para que en una lista los elementos no peguen un salto de linea colocamos [(white-space: nowrap;)en ul] y [( display: inline;)en li]</p>
    </div>
</div>
<app-footer />

<!-- Agregue divs dentro del main-container para podes organizar mejor sus 2 componentes -->
<!-- Si hay algun problema por equivocacion de generacion de componente y lo queres eliminar normalmente
por ej un sup (suprimir), al darle sup para eliminar el componente debemos modifical el app module
y borrar las 2 lineas (Declaracion e importacion) de ese componente eliminado. -->