@import '../../../styles/variables_globales.less';

aside{
    // display: block;
    // border: 1px solid #fff;
    // height: 100%;
    margin-top: 20px;
    position: fixed;
    width: 20%; /* Ancho deseado para la barra lateral */

    .links-sidebar {
        background-color: @bg-200;
        color: @text-100;
        // margin-top: 20px;
        border-radius: 10px;
        list-style: none;
        // display: grid;
        // place-items: center;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        // height: 96%;

        p{
            margin: 5px;
            text-decoration: underline;
        }

        li {
            padding: 5px;
            background-color: @bg-300;
            border-radius: 10px;
            margin: 3px;
            width: 80%;
            border: 1px solid @text-200;
            cursor: pointer;

            &:hover {
                background-color: @bg-200;
            }
        }
    }
}
