<aside>
    <ul class="links-sidebar">
        <p>Ejercicios: </p>
        <li><a routerLink="/ejemplo1">Interpolacion de datos</a></li>
        <li><a routerLink="/ejemplo2">Directivas personalizadas</a></li>
        <li><a routerLink="/ejemplo3">Eventos y enlaces de datos bidireccionales</a></li>
        <li><a routerLink="/ejemplo4">Renderizacion condicional</a></li>
        <br><br><br>
        <p class="note">Nota: en Vue, React y Angular la "manipulacion del DOM" se lo realiza con Interpolacion, con directivas personalizadas, Eventos y Enlaces de datos bidireccionales y Renderizacion condicional</p>
    </ul>
</aside>